#landingPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#hero{
    width: 70%;
    height: 70vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7A5555;
    border-radius: 30px 0;
    border: 3px solid tomato;
}

#hero img {
    width: 30%;
    object-fit: contain;
}

#hero h1{
    width: 100%;
    text-align: center;
}

#types h1{
    width: 100%;
    text-align: center;
}

#types{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.type h1{
    text-decoration: underline;

}

.type{
    flex-wrap: wrap;
}


#types img{
    width: 350px;
    height: 350px;
    object-fit: fill;
    border-radius: 10px;
    margin-top: 20px;
    border: 5px solid tomato;
}

.pizza , .tacos , .panini{
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ff8989;
    width: 400px;
}

#pizza , #tacos , #panini{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

    #footer{
        background-color: rgb(156, 156, 156);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        height: 50px;

    }

#heroText{
    color: antiquewhite;
    text-decoration: overline underline;
}
@media (max-width : 800px) {
    #pizza , #tacos , #panini{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        row-gap: 50px;
    }

#hero{
    width: 90%;

}

#hero img {
    width: 80%;
    object-fit: contain;
}

#hero h1{
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.pizza , .tacos , .panini{
    width: 250px;
}
#pizza img, #tacos  img, #panini  img{
    width: 150px;
    height: 150px;
}


}