#loginButton{
    width: 100px;
    height: 30px;
    border: 2px solid white;
    color: white ;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width : 800px) {
    #loginButton{
    width: 70px;
    font-size: 15px;
    }
    }